<div class="form-group">
	<h1>Create a Memory</h1>
	<p>Memories are experiences you want to save for yourself and others. </p>
	<p>And truTribe does the same amazing things with them (you'll see).<span style="font-size:22px;"> &#9786;</span></p>
	<p></p>
	<p>For your now, choose a recent memory</p>
	
</div>

<%= render 'form' %>

<div class="form-group">
<br/><br/>
	<span>You can name you memory anything you want!</span>
	

	<p>Here are some Examples:</p>
	<ul>
	<li>Family Trip to Disney 2015</li>
	<li>Camping in Yosmite</li>
	<li>Billy's First Day of Kindergarten</li>
	<li>Family Reunion 2010</li>
	<li>Partying with Friends at the Lake</li>
	<li>The Big Game: Dublin High vs Amador Valley</li>
	</ul>
	<p>Can't think of specific one right now? Just put "Summer 2015"</p>
</div>

<%= link_to 'Back', memories_path %>